@model IEnumerable<GABS2025324AppWebMVC.Models.Brand>

<style>
    body {
        background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
        height: 150%;
    }
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 26%;
        left: 16%;
        position: absolute;
    }

    .card {
        margin: 0 10px;
    }

    .n4 {
        position: absolute;
        text-align: center;
        left: 35%;
        color: white;
    }
    label{
        color: white;
    }
    h1{
        color: white;
    }
    td{
        color: white;
    }
</style>

<h1 class="text-center mb-4">Marcas</h1>
<hr class="text-white">





<div class="container" id="mytable">
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.BrandName)</th>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="border border-white" ,class="table table-striped">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.BrandName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Country)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BrandsId" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.BrandsId" class="btn btn-sm btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.BrandsId" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


